## Give some statistics about Dataset

In [1]:
# Import libraries

import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import math

In [3]:
# read dataframe
df = pd.read_csv('cust_seg.csv')
df.head()

,custid,sex,AqChannel,region,Marital_status,segment,pre_usage,Post_usage_1month,Latest_mon_usage,post_usage_2ndmonth
0,70,0,4,1,1,1,57,52,49.2,57.2
1,121,1,4,2,1,3,68,59,63.6,64.9
2,86,0,4,3,1,1,44,33,64.8,36.3
3,141,0,4,3,1,3,63,44,56.4,48.4
4,172,0,4,2,1,2,47,52,68.4,57.2

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   custid               200 non-null    int64
 1   sex                  200 non-null    int64
 2   AqChannel            200 non-null    int64
 3   region               200 non-null    int64
 4   Marital_status       200 non-null    int64
 5   segment              200 non-null    int64
 6   pre_usage            200 non-null    int64
 7   Post_usage_1month    200 non-null    int64
 8   Latest_mon_usage     200 non-null    float64
 9   post_usage_2ndmonth  200 non-null    float64
dtypes: float64(2), int64(8)
memory usage: 15.8 KB

In [5]:
df.describe()

,custid,sex,AqChannel,region,Marital_status,segment,pre_usage,Post_usage_1month,Latest_mon_usage,post_usage_2ndmonth
count,200.000000,200.00000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,100.500000,0.54500,3.430000,2.055000,1.160000,2.025000,52.230000,52.775000,63.174000,58.052500
std,57.879185,0.49922,1.039472,0.724291,0.367526,0.690477,10.252937,9.478586,11.242137,10.426445
min,1.000000,0.00000,1.000000,1.000000,1.000000,1.000000,28.000000,31.000000,39.600000,34.100000
25%,50.750000,0.00000,3.000000,2.000000,1.000000,2.000000,44.000000,45.750000,54.000000,50.325000
50%,100.500000,1.00000,4.000000,2.000000,1.000000,2.000000,50.000000,54.000000,62.400000,59.400000
75%,150.250000,1.00000,4.000000,3.000000,1.000000,2.250000,60.000000,60.000000,70.800000,66.000000
max,200.000000,1.00000,4.000000,3.000000,2.000000,3.000000,76.000000,67.000000,90.000000,73.700000

# 1. Card usage has been improved significanlty from last year usage which is 50. 
(Hint: comparing card usage of post campaign of 1 month with last year hypothesized value 50)

**H0 (Null hypothesis) Sample_avg = 50**

**Ha (ALT hypothesis) Sample_avg > 50**

**If P < 0.05 we can reject the NULL hypothesis**

In [6]:
stats.ttest_1samp(a=df.Post_usage_1month,popmean=50)

Ttest_1sampResult(statistic=4.140324966963024, pvalue=5.120919460716355e-05)

here p value is very small so we reject NULL Hypothesis

# 2. The last campaign was successful in terms usage of credit card. 
(Hint comparning means for card usage of pre and post usage of campaign).

**H0 (NULL hypothesis) Pre_avg = post_avg**

**Ha (ALT hypothesis) pre_avg < post_avg**

**If P < 0.05 we can reject the NULL hypothesis.**

In [8]:
stats.ttest_rel(a=df.pre_usage,b=df.Post_usage_1month)

Ttest_relResult(statistic=-0.8673065458794775, pvalue=0.3868186820914985)

* here the p value is not less than 0.05 hence we fail to reject null hypothesis

* that means the compaign was succesfull

# 3. Is there any difference between males and females in terms of credit card usage? 
(Hint: Comparing means of Card usage for males and females)

*** H0: males_avg = females_avg**

*** Ha: males_avg <> females_avg**

if p<0.05, then we reject NULL (there is difference between males and females in terms of credit card usage)

else, you fail to reject the NULL (There is NO difference between males and females in terms of credit card usage)

In [9]:
Males_spend = df.Post_usage_1month[df.sex == 0]
Females_spend = df.Post_usage_1month[df.sex == 1]

In [10]:
print(Males_spend.mean())
print(Females_spend.mean())
print(Males_spend.std())
print(Females_spend.std())

50.120879120879124
54.99082568807339
10.305160697259263
8.13371516959346

In [11]:
stats.ttest_ind(a = Males_spend, b = Females_spend, equal_var = False)

Ttest_indResult(statistic=-3.6564080478875276, pvalue=0.00034088493594266187)

* pvalue is less than 0.05
* we reject the NULL hypothesis.
* Hence, we conclude there is a difference between males and females in terms of credit card usage

# 4. Is there any relation between region and segment? 
(Hint: Finding the relationship between categorical variables and Segment)

**H0 : There is no relationship**

**Ha : There is relationship**

* if p < 0.05 , then we reject NULL,

* else, we fail to reject NULL Hypothesis.

In [12]:
t = pd.crosstab(df.segment, df.region, margins = True)
t

region    1   2   3  All
segment
1        16  20   9   45
2        19  44  42  105
3        12  31   7   50
All      47  95  58  200

In [13]:
stats.chi2_contingency(observed = t)

(16.60444164948934,
 0.055282939487992365,
 9,
 array([[ 10.575,  21.375,  13.05 ,  45.   ],
        [ 24.675,  49.875,  30.45 , 105.   ],
        [ 11.75 ,  23.75 ,  14.5  ,  50.   ],
        [ 47.   ,  95.   ,  58.   , 200.   ]]))